body {
font-size: 200%;
    background-image: url(../images/docker_background.jpg);
    background-repeat: no-repeat;


}
#logo{
    border : 1px solid #ddd;
    position:fixed;
    top:0;
    left:0;

}
#Outline{
    border : 1px solid #ddd;
    position:fixed;
    top:0;
    right:0;
}
#CI/CD{
        border : 1px solid #ddd;
    position:fixed;
    top:0;
    right:20;
    }