body {
font-size: 200%;
    background-image: url(../images/docker_background.jpg);
    background-repeat: no-repeat;
    background-size:100%


}
#logo{
    border : 1px solid #ddd;
    position:fixed;
    top:0;
    left:0;

}
.nav-link{
    font-size : 20px;
    font-family:"Monotype Corsiva"
}
#Outline{
    border : 1px solid #ddd;
    position:fixed;
    top:0;
    right:30;
}
#CI/CD{
        border : 1px solid #ddd;
    position:fixed;
    top:0;
    right:30;
    }