body {
font-size: 200%;
    background-image: url(../images/download.png);
    background-repeat: no-repeat;
    background-size:100%;
    display:flex;



}
#logo{
    border : 1px solid #ddd;
    position:fixed;
    top:0;
    left:0;

}
.nav-link{
    font-size : 20px;
    font-family:"Monotype Corsiva";
    position:relative;
    left:500px;
    padding:20px;
    font-color:black;
}
*{
    box-sizing: border-box;
}
.slider {
    width: 400px;

}